<div class= "devise-user-paths">

  <h2 class= "white">ACCOUNT SETTINGS </h2>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <h3> Update Profile: </h3>

     <div class="ui labeled input ">
        <div class = "ui label">
          <i class="user circle outline icon"></i>
        </div>  
        <%= f.file_field :profile_photo %>
      </div>
      <p class="white">Change Profile Picture?</p>
   
    <div class="ui input ">
      <%= f.number_field :zipcode, autofocus: true, placeholder: "Update Zipcode" %>
    </div>
    <br>
    <br>
    <div class="ui input">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Update Email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
    <br>
    <br>
    <div class="ui input">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "New Password?"%>
    </div>
     <p class="white"><em>Leave blank if you don't want to change it</em></p>

    <div class="ui input">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm New Password" %>
    </div>
    <br>
    <br>

    <div class="ui input">
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "Current Password" %>
    </div>
    <p class= "white"><em>We need your current password to confirm your changes</em></p>

    <div class="actions">
      <%= f.submit "Update", class: "user-action-button" %>
    </div>
  <% end %>

  <h2 class="white">CANCEL ACCOUNT</h2>
  <hr>
  <p class="white">We're sad to see you go, please let us know if there's anything we can do to keep you around!</p>
  <p><a href="mailto:BarterUpApp@gmail.com?&subject=Question!&body=Hi Barter Up People!" target="_blank">Email BarterUp Team</a>
  <br>
  <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "user-action-button" %>

  <%= link_to "Back", :back %>
</div>
