<div class = "devise-user-paths">
  <h2 class="white">SIGN UP</h2>
  <hr>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
      
    <div class="ui labeled input ">
      <div class = "ui label">
        <i class="user circle outline icon"></i>
      </div>  
      <%= f.file_field :profile_photo %>
    </div>
    <br>
    <br>

    <div class="ui input ">
      <%= f.text_field :username, autofocus: true, placeholder: "Username" %>
    </div>
    <br>
    <br>

    <div class="ui input ">
      <%= f.number_field :zipcode, autofocus: true, placeholder: "Zipcode" %>
    </div>
    <br>
    <br>

    <div class="ui input ">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
    </div>
    <br>
    <br>
    
    <div class="ui input ">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </div>
    <br>
    <br>

    <div class="ui input ">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm Password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class:"user-action-button" %>
    </div>
  <% end %>


</div>
