<div class = "devise-user-paths">
  <h2 class="white">SIGN IN</h2>
  <hr>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    
    <div class="ui input ">
      <%= f.email_field :email, autofocus: true, placeholder: "Email", autocomplete: "email" %>
    </div>
    <br>
    <br>
    
    <div class="ui input ">
      <%= f.password_field :password, autocomplete: "current-password", placeholder: "Current Password"%>
    </div>
    <br>
    <br>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
       <%= f.submit "Log in", class:"user-action-button" %>
    </div>
  
 
    <%= render "devise/shared/links" %>
  <% end %>
</div>







