<%# USER INFORMATION DISPLAYED AT TOP OF PAGE %>
<% if current_user %>
  <div class = "user-info">
    <h1>Welcome <%= current_user.username %></h1>
    <% if current_user.profile_photo.attached? %>
      <div class = "profile-photo-display">
        <%= image_tag current_user.profile_photo, class:"profile-photo" %>
      </div>
    <% else %>
      <div class = "profile-img-display">
        <%= image_tag "no_img.png", class:"profile-photo" %>
      </div>
    <%end%>
  </div>

  <%# HORIZONTAL BAR UNDER USER INFORMATION %>
  <%# ADD DROP DOWN FOR SORTING POSTS BY 'TYPE' %>
  <div class = "horizontal-bar">
    <a class="item" href="/posts/new" value="<%= new_post_path%>"> 
      <button class="ui button">
        <i class="plus square outline icon"></i>
         New Post 
      </button>
    </a> 
  </div>

  <%# POST --> CARD LAYOUT  %>
  <%if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="ui card">
        <div class="extra content">
          <div class="left floated author">
            <%= image_tag post.user.profile_photo, class:"ui avatar image" %>  
            <br>
            user: <%= post.user.username %>
          </div>
        </div>
        <div class="content">
          <div class="header">
            <%= post.title %>
          </div>
          <div class="meta">
            <span class="category"><%=post.offer%></span>
          </div>
          <div class="description">
            <p></p>
          </div>
        </div>
        <div class = "comment-bar">
          <a class="item" href="/posts/<%=post.id%>/comments/new" value="<%= new_post_comment_path(post) %>"> 
            <button class="ui button">
              <i class="comment outline icon"></i>
              Add Comment 
            </button>
          </a> 

          <a><span class = "comment-count"><%= post.comments.count%> Comments</span></a>
        </div>

        <%# COMMENT'S DISPLAY  %>
        <%if post.comments.any? %>
          <div class="ui comments" id="<%=post.id%>">
            <h3 class="ui dividing header">Comments</h3>
            
            <% post.comments.each do |comment| %>
              <div class="comment">
                <div class="content">
                  <a class="author"><%= comment.author %></a>
                </div>
                <div class="metadata">
                  <span class="date"><%=comment.created_at%></span>
                </div>
                <div class="text">
                  <%= comment.body%>
                </div>
                <%# REPLY ISN'T FUNCTIONAL ATM %>
                <%# <div class="actions">
                  <a class="reply">Reply</a>
                </div> %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
      <%# FORM FOR REPLYING --> NOT YET FUNCTIONAL %>
        <%# <form class="ui reply form">
          <div class="field">
            <textarea></textarea>
          </div>
          <div class="ui button">
            <i class="icon edit"></i> Add Reply
          </div>
        </form> %>

      <script>
        $(".ui.comments").hide()
        $(".comment-count").click(function(){
          $("#<%=post.id%>").slideToggle();
        });
        // $(".comment-count").click(function(){
        //   $(".ui.comments").hide();
        // });
      </script>
    <%end%>
  <% else %>
    <br>
    <p class="white" style="text-align: center;"> There are currently no posts to display. Why not add one yourself? </p>
  <% end %>
<% else %>
  <%# IF USER ISN'T LOGGED IN HOME PAGE/LANDING%>
  <div id = "home-page" class="white">
    <%= image_tag "BarterUp.png", class: "logo-homepage"%>
   
    <h2 class="white">WELCOME</h2> 
    <hr style="margin-right: 300px;">

    <h4>ABOUT US</h4>
    <p>BarterUp was started with one goal in mind, for the people, by the people.</p>
    <p>Everyone has something to offer, why not trade it? </p>

    <h4>WHAT WE'RE ABOUT</h4>
    <p>We want people to aquire what they desire, without the need for money!</p>

    <h4>QUESTIONS?</h4>
    <p><a href="mailto:BarterUpApp@gmail.com?&subject=Question!&body=Hi Barter Up People!" target="_blank">Email Me!</a>
</p>

    <p> Ready to become a user? <a class="white" href="/users/sign_up"> Sign Up!</a>

  </div>
<% end %>
