<%# TO DO LIST %>
<%# - add 'complete' button which will mark the status as 'closed' %>
<%# - add 'delete/edit' path so that the user can edit/delete their own posts %>
<%#  %>


<% if current_user %>
  <h1 class = "header">WELCOME <%= current_user.username.upcase %></h1>
  
  <div class = "horizontal-bar">
    <a class="item" href="/posts/new" value="<%= new_post_path%>"> 
      <button class="ui button">
        <i class="plus square outline icon"></i>
         New Post 
      </button>
    </a> 
  
    <form class = "ui action input f-right">
      <input type="text" name="search_term" id="search" placeholder="Search My Posts">
      <button type = "submit" class="ui icon button">
        <i class="search icon"></i>
      </button>
    </form>
  </div>
  <%# POST --> CARD LAYOUT  %>
  <%if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="ui card">
        <div class="extra content">
          <div class="left floated author">
            <%= image_tag post.user.profile_photo, class:"ui avatar image" %>  
            <br>
            user: <%= post.user.username %>
          </div>
          <div class="ui icon button f-right" data-tooltip="Delete Post" data-variation="mini">
            <a href="/posts/<%=post.id%>" onclick="confirm('Are you sure you want to delete this post?')" data-method="delete" value="<%= posts_path%>"><i class="trash alternate outline icon"></i></a>
          </div>
          <div class="ui icon button f-right" data-tooltip="Edit Post" data-variation="mini">
              <a href="/posts/<%=post.id%>/edit" value="<%= edit_post_path(post)%>"><i class="edit outline icon"></i></a>
          </div>
          
        </div>
        <div class="content">
          <div class="header">
            <%= post.title %>
          </div>
          <div class="meta">
            <span class="category">Offer: <%=post.offer%></span>
          </div>
          <div class="description">
            <p><%= post.body %></p>
          </div>
        </div>
        <div class = "comment-bar">
          <a class="item" href="/posts/<%=post.id%>/comments/new" value="<%= new_post_comment_path(post) %>"> 
            <button class="ui button">
              <i class="comment outline icon"></i>
              Add Comment 
            </button>
          </a> 
          <a><span class = "comment-count"><%= post.comments.count%> Comments</span></a>
        </div>
        

        <%# COMMENT'S DISPLAY  %>
        <%if post.comments.any? %>
          <div class="ui comments" id="<%=post.id%>">
            <h3 class="ui dividing header">Comments</h3>
            <% post.comments.each do |comment| %>
              <div class="comment">
                <div class="content">
                  <a class="author"><%= comment.author %></a>
                </div>
                <div class="metadata">
                  <span class="date"><%=comment.created_at%></span>
                </div>
                <div class="text">
                  <%= comment.body%>
                </div>
                <%# REPLY ISN'T FUNCTIONAL ATM %>
                <%# <div class="actions">
                  <a class="reply">Reply</a>
                </div> %>
              </div>
            <%end%>
          </div>
        <% end %>
      </div> 
       <script>
      $(".ui.comments").hide()
      $(".comment-count").click(function(){
        $("#<%=post.id%>").slideToggle();
      });
      // $(".comment-count").click(function(){
      //   $(".ui.comments").hide();
      // });
      </script>
    <% end %>
   
    <%# FORM FOR REPLYING --> NOT YET FUNCTIONAL %>
      <%# <form class="ui reply form">
        <div class="field">
          <textarea></textarea>
        </div>
        <div class="ui button">
          <i class="icon edit"></i> Add Reply
        </div>
      </form> %>
      
   
  <%else%>
    <p class="white" style="text-align: center;"> You don't currently have any posts. Why not add one? </p>
  <% end %>
<% else %>
  <p> Oops! Look likes you reached this page by mistake, why don't you create an account so you can see this page</p>
<% end %>