<h2> This is posts view page!</h2>

  <p><%= @post.title %></p>
  <p><%= @post.body %></p>

  <%= link_to "Add Comment", new_post_comment_path(@post)%>
  <%# add card for post display %>

    <%if @post.comments.any? %>
    <% @post.comments.each do |comment| %>
    <%= comment.author %>
    <%= comment.body %>
    <% end %>
  <% else %>
  <p> There are currently no comments to display</p>
<% end %>
