<!DOCTYPE html>
<html>
  <head>
    <title>BarterUp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
  
    <%# CONTENT OF TOGGLED SIDEBAR %>
    <%# <div  class="ui left vertical inverted sidebar labeled icon menu">
      <a href="#"class="item">
       <i class="cog icon"></i>
      </a>
      <a href="#"class="item">
        
      </a>
      <a href="#"class="item">
        
      </a>
    </div>  %>
  

    <div class = "ui basic icon top fixed menu">
      <%# <div id="side-bar" class="item">
        <i class= "bars icon"></i>
      </div> %>
        <%# NAVIGATION BAR %>
        <% if current_user %>
          <a class="item" href="/home" value="<%= home_path%>">
            Home
          </a>
          <a class="item" href="/posts" value="<%= posts_path%>">
            My Posts
          </a>
          <%# RIGHT SIDE MENU %>
        <div class="right menu">
          <div class = "item"><%= current_user.username %></div>
          <a class="item" href="<%= edit_user_registration_path%>"><i class="cog icon"></i></a>
          <a class="ui item" href="/users/sign_out" data-method="delete" value="<%= destroy_user_session_path%>">Log Out</a>
        </div>
        <% else  %>
          <a class="item" href="/users/sign_up"> Sign Up </a>
          <a class="item" href="/users/sign_in">Sign In </a>
          <div class="right menu">
            <a class="item" href="/home" value="<%= home_path%>">
              Home
            </a>
          </div>
        <% end %>
        
    </div>
    
    <!-- Site content !-->
      <%# BODY %>
      <%# <div class="pusher"> %>
      <div class = "container">
          <%= yield %>
      </div>
      <%# </div> %>

    
    <script>
      $('#side-bar').click(function() {
        $('.ui.sidebar').sidebar('toggle');
      })
    </script>

    <footer>BarterUp, 2020 © <a href="https://www.linkedin.com/in/allisonmariemackey/" target="_blank">Allison Mackey</a>
  </body>
</html>
