<!DOCTYPE html>
<html>
  <head>
    <title>BarterApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class = "container">
      <%# NAVIGATION BAR %>
      <div class="ui secondary  menu">
        <% if current_user %>
          <a class="item" href="/home" value="<%= home_path%>">
            Home
          </a>
          <a class="item" href="/posts" value="<%= posts_path%>">
            My Posts
          </a>
        <%# RIGHT SIDE MENU %>
        <div class="right menu">
          <div class="ui item">
              <a class="nav-item nav-link" href=""><%= current_user.email %></a>
          </div>
          <a class="ui item" href="/users/sign_out" data-method="delete" value="<%= destroy_user_session_path%>">Log Out</a>
        </div>
             
          <% else  %>
            <a class="item" href="/users/sign_up"> Sign Up </a>
            <a class="" href="/users/sign_in">Sign In </a>
          <% end %>
      </div>
     

    <%# BODY %>
      <%= yield %>
    </div>

   
    
    
   
  </body>
</html>
